
/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

body {
    font-family: Skia;
}




/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.logo > img:nth-child(1) {
    width: 45%;
    margin: auto;
}

.logo_nav {
    width: 88%;
    /*! float: left; */
}

.email_check, .phone_check {
    text-align: left;
    margin-left: 28%;
    margin-bottom: 18px;
    margin-top: -14px;
    color: red;
    font-size: 14px;
}

.su_txt_box.name {
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.logo {
    margin: auto;
    margin-top: 8%;
    margin-bottom: 15%;
    display: flex;
    align-content: end;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.li_txt_box, .su_txt_box {
    width: 47%;
    border-radius: 9px;
    height: 34px;
    border: 4px;
    border: 1.5px solid #ecececa3;
    padding-left: 16px;
    background-color: #ececec93;
    margin: auto;
    margin-bottom: 21px;
}

.product_page_txt_box{

    width: 47%;
    border-radius: 9px;
    height: 34px;
    border: 4px;
    border: 1.5px solid #ecececa3;
    margin-left: 30px;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 21px;
    margin-left: 2%;
    border: solid lightgray;
}

.product_page_txt_box:focus {
    outline: none;
}

.desc {
    height: 200px;
}

.desc::placeholder {
    text-align: center;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.back > div:nth-child(1) {
    width: 33%;
    height: auto;
    margin: auto;
    margin-top: 0;
    display: grid;
    align-content: baseline;
    padding: ;
    background-color: white;
    border-radius: 24px;
    border-radius: 32px;
    box-shadow: 12px 12px 35px #d7e0ed, -12px -12px 35px #f7ffff;
    max-height: 100%;
}



/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

#password {
    width: 47%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */



/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.back > div:nth-child(1) > div:nth-child(3) {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

body {
    height: 100%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.back {
    height: 100vh;
    width: 100vw;
    background-color: #E7F1FF;
    padding: ;
    padding-top: 8%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.back > div:nth-child(1) > div:nth-child(3) > button:nth-child(1) {
    width: 47%;
    height: 40px;
    background-color: #74a3e3;
    border-radius: 8px;
    color: white;
    font-size: inherit;
    border: 1.5px solid #74a3e3;
}


/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */


.li_su_box {
    width: 33%;
    height: auto;
    margin: auto;
    margin-top: 0;
    display: grid;
    align-content: baseline;
    padding: ;
    background-color: white;
    border-radius: 24px;
    border-radius: 32px;
    box-shadow: 12px 12px 35px #d7e0ed, -12px -12px 35px #f7ffff;
    max-height: 100%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.logo > img:nth-child(1) {
    width: 45%;
    margin: auto;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.logo {
    margin: auto;
    margin-top: 8%;
    margin-bottom: 15%;
    display: flex;
    align-content: end;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

#userName {
    width: 47%;
    border-radius: 9px;
    height: 34px;
    border: 4px;
    border: 1.5px solid #ecececa3;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */


/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.login_txt {
    text-align: center;
    display: grid;
    /*! align-content: center; */
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.back > div:nth-child(1) > div:nth-child(3) {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

body {
    height: 100%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.back {
    /* background-color: # .back > div:nth-child(1) { width: 39% height: 40% margin: auto margin-top: 20% display: grid align-content: baseline } .logo > img:nth-child(1) { width: 45% margin: auto } .back { height: 100vh width: 100vw } .logo { margin: auto margin-top: 8% margin-bottom: 15% display: flex align-content: end } #userName { width: 40% } #password { width: 40% margin: margin-top: 20px } .login_txt { text-align: center } .back > div:nth-child(1) > div:nth-child(3) { text-align: center margin-top: 10% margin-bottom: 10% }; */
    height: 100vh;
    width: 100vw;
    background-color: #E7F1FF;
    padding-top: 8%;
}

/* Element | http://localhost:63342/SimpleTest/SignUp.html?_ijt=s0fvrrsn61sqkf05ghdt7fge39 */

.back > div:nth-child(1) > div:nth-child(3) > button:nth-child(1) {
    width: 47%;
    height: 40px;
    background-color: #74a3e3;
    border-radius: 8px;
    color: white;
    font-size: inherit;
    border: 1.5px solid #74a3e3;
    cursor: pointer;
}

.si_txt {
    text-align: left;
    margin-left: 27%;
    margin-bottom: 21px;
    color: #757575;
    font-size: 30px;
}

/* Inline #2 | http://localhost:8080/SimpleSell_war/JspPages/Products.jsp */

.nav_bar {
    display: flex;
}

.nav_logo {
    width: 14%;
}

.right_nav {
    display: block ruby;
    font-size: 26px;
    margin-top: 5px;
    margin-right: 14px;
}

.nav_bar {
    display: flex;
    padding: 5px;
    box-shadow: bisque;
}


/* Inline #2 | http://localhost:8080/SimpleSell_war/JspPages/Products.jsp */

.side_bar {
    display: grid;
    width: 11%;
}

.side_bar_item {
    height: 26px;
    margin-left: 10%;
    padding: ;
    padding-top: 10;
    padding-left: 14;
}

.content {
    background-color: #f0f0f0;
    min-height: 100vh;
}

.content_main_out {

    height: 100%;
    width: 87%;
    float: right;
    border-left: solid 1px #ccc;
}

.content {
    padding: ;
    padding-top: 22px;
}

.side_bar {
    float: left;
}

.selected_nav_item {
    background-color: #cacaca;
    border-radius: 10px;
}

.product_text {
   margin-left: 2%;
}

.product_btns {
    margin-left: 4%;
    width: 10%;
    height: 40px;
    background-color: #74a3e3;
    border-radius: 8px;
    color: white;
    font-size: inherit;
    border: 1.5px solid #74a3e3;
    text-align: center;
}

.product_btns:hover {
    background-color: white;
    color: black;
}

.cancel_btn {
    background-color: white;
    color: black;
    margin-left: 35%;
}

.cancel_btn:hover{
    background-color: #74a3e3;
    color: white;
}